<div class="container">
    <div class="row">
      <div *ngFor="let card of list"class="col-4">
        <div class="card" style="width: 18rem;margin-top: 20px;">
            <img class="card-img-top" src="{{card.url}}" alt="Card image cap" style="height: 150px;width: 150px; margin: auto;">
            <div class="card-body">
              <h5 class="card-title">{{card.title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>           
    </div>
    
  </div>